body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8DE7E;
}

.header {
    background-color: #800000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 100px;
    height: auto;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #F8DE7E;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-logo {
    width: 100px;
    height: auto;
    display: block;
}

h2, h3 {
    color: #800000;
}

ul li strong {
    color: #800000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding-top: 100px;
}

.video {
    margin: auto;
    padding-left: 400px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.titulo{
    color: #800000;
    margin: auto;
    padding-left: 600px;
}